.main_chat
  .main_chat__group-info
    .main_chat__group-info--left-contents
      .main_chat__group-info--left-contents__name
        = @group.name
      .main_chat__group-info--left-contents__members
        Member:
        - @group.group_users.each do |group_user|
          = group_user.user.name
    .main_chat__group-info--right-contents
      = link_to "Edit", edit_group_path(@group), class: "edit_btn"
      

  .messages
    = render @messages


  .form
    = form_for [@group, @message] do |f|
      = f.text_field :text, class: 'leftcontent', placeholder: "type a message"
      .rightcontent
        = f.label :image, class: 'leftcontent__icon' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'send_btn'

 



